services:
  db:
    image: postgis/postgis:16-3.4
    restart: always
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
     - "5432:5432"
    volumes:
     - pgdata:/var/lib/postgresql/data
     - ./backend/init.sql:/docker-entrypoint-initdb.d/init.sql

  backend:
    build: ./backend
    ports: ["5000:5000"]
    env_file:
      - ./backend/.env
    volumes:
      - ./backend:/app
      - ./uploads:/app/uploads
    depends_on:
      - db

  frontend:
    build: ./frontend
    ports: ["5173:5173"]
    env_file:
      - ./frontend/.env
    volumes:
      - ./frontend:/app
    depends_on:
      - backend

volumes:
  pgdata: